.c-app {
  text-align: center;
}

.c-app--logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

.c-app--header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.c-app--title {
  font-size: 1.5em;
}

.c-app--intro {
  font-size: large;
}

.c-app .c-alerts {
  position: absolute;
  bottom: 50px;
  right: 0px;
  text-align: left;
}
