.c-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: white;
  padding: 10px;
  user-select: none;
}

.c-button.hovering:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.c-button .c-button--text {
  display: inline-block;
  min-width: 200px;
  line-height: 30px;
}

.c-button .c-button--text.left {
  text-align: left;
  padding-left: 35px;
}

.c-button .c-button--text.center {
  text-align: center;
}

.c-alert .c-button--text.left {
  padding-left: 0;
  min-width: 150px;
}

@media (max-width: 670px) {

  .c-zoomControls .c-button {
    padding: 5px;
    min-width: 170px;
  }

  .c-zoomControls > .c-container {
    font-size: small;
    margin: 5px 15px;
    text-align: center;
  }

  .c-zoomControls .c-container:first-child {
    margin-top: 15px;
  }

  .c-zoomControls .c-button.hovering:hover {
    box-shadow: none;
  }

  .c-button .c-button--text {
    min-width: 0px;
  }

  .c-alert .c-button--text.left {
    min-width: 135px;
    font-size: small;
  }

  .c-alert .icon {
    padding: 5px;
  }

  .c-alert .c-button {
    padding: 5px;
  }

  .c-filters .c-button {
    padding: 5px;
    min-width: 100px;
    font-size: small;
    text-align: center;
  }

  .c-filters .c-button .icon.right {
    display: none;
  }

}
