.c-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: white;
  padding: 10px;
  user-select: none;
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px transparent;
  transition: background 3.5s ease-out;
  background: linear-gradient(to right, #ed6000 50%, white 50%);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 200% 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  &:hover, &.active, &.loading {
    box-shadow: 0 0 0 2px #ed6000;
  }
  &.flat {
    border: none;
    box-shadow: none;
  }
  &.loading {
    background-position: left bottom;
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.35;
  }
  .c-button--text {
    display: inline-block;
    min-width: 200px;
    line-height: 30px;
    font-size: 17px;
    &.left {
      text-align: left;
      padding-left: 35px;
    }
    &.center {
      text-align: center;
    }
  }
}

@media (max-width: 670px) {

  .c-button {
    .c-button--text {
      min-width: auto;
      font-size: 15px;
    }
  }
}
