.DateRangePicker {
    margin: 15px;  
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

    &>div {
        display: flex;
    }

    .DateRangePickerInput {
        flex: 1;
        display: flex;
        align-items: center;
        .DateInput {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            input,
            input::placeholder {
                font-family: sans-serif;
                text-align: center;
            }
        }
    }
}