.c-documents {
  position: relative;
  margin: 10px;
  display: block;
  text-align: left;
}

.c-documents .c-documents--text {
  margin: 15px 190px 15px 80px;
}

.c-documents--text h3 {
  font-weight: lighter;
  margin: 5px 0;
}

.c-documents--text h2 {
  font-weight: 600;
  margin: 5px 0;
  cursor: pointer;
}

.tag-container {
  width: 93%;
  padding-right: 45px;
  position: absolute;
  text-align: right;
  top: 42%;
}

.tag-container div {
  display: inline-block;
 }

.tag-container div .c-container {
  width: auto;
}

.c-documents .c-container {
  margin: 5px;
  width: 100%;
  position: relative;
}

.c-documents .c-button {
  background: #dddddd;
  padding: 7px;
}

.c-documents .c-button--text {
  min-width: 35px;
  line-height: 10px;
}

.document-details .icon {
  top: 50%;
  margin-top: -35px;
}

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
}

.outerContainer {
  margin: 20px;
}

.outerContainer > .c-container {
  width: 90%
}
