.outerContainer {
  padding: 20px;
}

.outerContainer > .c-container {
  width: 100%;
  background: none;
  text-align: center;
  margin: 0;
}

.c-documents {
  width: 85%;
  margin: 0 auto;
}

.c-documents .c-container {
  margin: 0;
  width: 100%;
  position: relative;
  opacity: 1;
}

.c-documents > .c-container {
  margin-bottom: 50px;
  width: 100%;
}

.c-documents .c-searchBox {
  width: auto;
}

.c-documents input {
  width: calc(100% - 60px);
}

@media (max-width: 670px) {
  .outerContainer {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .c-documents {
    padding-top: 15px;
  }
}
