.c-filters {
  position: absolute;
  width: auto;
  height: auto;
  top: 70px;
  left: 15px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}

.container {
  position: absolute;
}

.clicked {
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.outCont {
  position: relative;
}
