.c-filterList {
  height: auto;
  width: 100%;
  margin-right: 115px;
  text-align: left;
}

.c-filterList ul {
  display: block;
  width: 85%;
  left: 0;
  padding-left: 28px;
  margin-top: 5px;
  list-style: none;
}

.c-filterList li {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}

.c-filterList .c-container {
  margin-bottom: 0;
  margin-top: 0;
}

.c-filterList .c-badge {
  position: absolute;
  top: 0;
  right: 0;
}
