.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  img {
    width: 30px;
    height: 30px;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &:hover {
    cursor: pointer;
  }
  &.direction-left {
    transform: rotate(90deg);
  }
  &.direction-right {
    transform: rotate(-90deg);
  }
}
