@import '../../node_modules/react-dates/lib/css/_datepicker.css';

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}
