.c-map .leaflet-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: white;
}
.c-map .leaflet-container .leaflet-pane.leaflet-tile-pane {
  opacity: 0.75;
}

.c-map .leaflet-container .c-feature {
  pointer-events: auto;
  cursor: pointer;
  fill: #ed6000;
  fill-opacity: 0.2;
  stroke: #ed6000;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.c-map .leaflet-container .c-feature.adjacent {
  stroke-dasharray: 10 25;
  fill-opacity: 0;
}

.c-map .leaflet-container .c-feature:hover,
.c-map .leaflet-container .c-feature.active {
  fill-opacity: 0.5;
}

.c-map .leaflet-container .c-feature.adjacent:hover {
  fill-opacity: 0.25;
}

/* Tooltip */
.c-map .leaflet-container .leaflet-pane .leaflet-tooltip.c-tooltip {
  margin: 0;
  padding: 0;
  color: black;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.c-map .leaflet-container .leaflet-pane .leaflet-tooltip.c-tooltip:before {
  content: none;
}
.c-map .leaflet-container .leaflet-pane .leaflet-tooltip.c-tooltip h1 {
  margin: 0;
}
