.c-documents .c-reporting {
  position: absolute;
  right: 0;
  bottom: 0;
  user-select: none;
}

.c-documents .c-reporting .c-button {
  padding: 0;
  background: #eeeeee;
}

.c-documents .c-reporting .c-dropdown {
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 97%;
  padding: 10px;
  background: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  -webkit-transition: -webkit-box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
  transition: -webkit-box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
  -o-transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
  transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
  transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1), -webkit-box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
  white-space: nowrap;
}

.c-documents .c-reporting .c-dropdown h3 {
  font-weight: normal;
  line-height: 30px;
}

.c-documents .c-reporting .c-dropdown h4 {
  font-weight: lighter;
  margin: 5px;
}

.c-documents .c-reporting .c-dropdown .c-dropdown--header {
  display: flex;
  justify-content: space-between;
}
