.c-searchBox {
  position: relative;
  display: block;
  width: 370px;
  height: 50px;
  text-align: left;
}

.c-searchBox input {
  width: 100%;
  color: black;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px 40px 10px 10px;
  border: none;
  font-weight: lighter;
}

.c-searchBox:hover input,
.c-searchBox input:focus {
  outline: 0;
  border: none;
}

@media (max-width: 670px) {

  .c-searchBox {
    width: 80vw;
  }

  .filtersHeader + .c-container {
    margin-top: 45px;
  }

}

@media (max-height: 360px) {

  .filtersHeader + .c-container {
    margin-top: 25px;
  }


}
