.c-typesList {
  height: auto;
  width: 100%;
  text-align: left;
  position: relative;
}

.c-typesList ul {
  display: block;
  width: 100%;
  left: 0;
  list-style: none;
  padding: 45px 0 0 0;
}

.c-typesList li {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}

.c-typesList .c-container {
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: -25px;
}

.c-typesList .c-container .c-button {
  padding: 5px;
}

.c-typesList .c-container .c-button .icon {
  padding: 5px;
}

.c-typesList .c-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
}

@media (max-width: 670px) {

  .c-typesList .icon.direction-right {
    top: 0px;
  }
}
