.c-typesList {
  height: auto;
  width: 100%;
  margin-right: 115px;
  text-align: left;
}

.c-typesList ul {
  display: block;
  width: 100%;
  left: 0;
  padding-left: 29px;
  padding-right: 29px;
  margin-top: 5px;
  list-style: none;
}

.c-typesList li {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}

.c-typesList .c-container {
  margin-bottom: 0;
  margin-top: 0;
}

.c-typesList .c-container .c-button {
  padding: 5px;
}

.c-typesList .c-container .c-button .icon {
  padding: 5px;
}

.c-typesList .c-badge {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 670px) {

  .c-typesList .icon {
    top: -5px;
  }

  .c-typesList .icon.direction-right {
    top: 0px;
  }
}
