.c-typesList {
    height: auto;
    width: 100%;
    text-align: left;
    position: relative;
    overflow: auto;

    ul {
        display: block;
        width: 100%;
        left: 0;
        list-style: none;
        padding: 25px 0 0 0;

        li {
            position: relative;
            margin-bottom: 10px;
            text-align: left;
        }
    }

    .c-container {
        margin-bottom: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        left: -24px;

        .c-button {
            padding: 5px;
            min-width: auto;

            .icon {
                padding: 5px;
            }
        }
    }

    .c-badge {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 13px;
    }
}

@media (max-width: 670px) {
    .c-typesList {
        li {
            font-size: 15px;
        }
    }
}
