.c-zoomControls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    a {
        margin: 0;
        color: black;
        text-align: center;
        &:first-child .c-container {
            margin-top: 15px;
        }
        .c-container {
            display: block;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 670px) {
    .c-zoomControls {
        & > .c-container {
            font-size: small;
            margin: 5px 15px;
            text-align: center;
        }
        .c-container {
            .c-button {
                padding: 5px;
                min-width: 170px;
            }
        }
    }
}

@media (max-width: 350px) {
    .c-zoomControls {
        a {
            .c-container {
                .c-button {
                    min-width: 115px;
                }
            }
        }
    }
}
